body {
  background-image: url("73.png");
  color: #ffcc00; /* Set text color to bright yellow */
}


p {
  color: yellow;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9; /* 设置页面背景色 */
}

.container {
  text-align: center;
}

.container p {
  color: #ffcc00; /* 设置字体颜色为亮黄色 */
}

